In [1]:
import pandas as pd
import numpy as np
import os
import pickle
import subprocess

In [2]:
# Fijamos el directorio de trabjo
directorio = '/Users/leonardorebollarruelas/Documents/GitHub/Implementaci-n-de-modelos-SARIMA'
os.chdir(directorio)

In [37]:
# Corremos el proceso que importa las series de tiempo de INEGI
dir_gen_series_INEGI = '/Users/leonardorebollarruelas/Documents/GitHub/Privado-Leo/Generador de Series INEGI.py'
subprocess.run(["python3",dir_gen_series_INEGI], check=True)

CompletedProcess(args=['python3', '/Users/leonardorebollarruelas/Documents/GitHub/Privado-Leo/Generador de Series INEGI.py'], returncode=0)

In [38]:
# Importamos el diccionario con las series de tiempo recien actualizado
with open("series_INEGI.pkl", "rb") as f:
    dict_series_INEGI = pickle.load(f)

In [ ]:
db_inpc = dict_series_INEGI['INPC_general']
db_inpc['inflacion_YoY'] = db_inpc['INPC_general'].pct_change(12)*100 # Calcula el cambio porcentual de una variable
db_inpc

     INPC_general      fecha  inflacion_YoY
0        0.011595 1969-01-01            NaN
1        0.011636 1969-02-01            NaN
2        0.011648 1969-03-01            NaN
3        0.011680 1969-04-01            NaN
4        0.011680 1969-05-01            NaN
..            ...        ...            ...
678    140.780000 2025-07-01       3.512423
679    140.867000 2025-08-01       3.568777
680    141.197000 2025-09-01       3.760288
681    141.708000 2025-10-01       3.566521
682    142.645000 2025-11-01       3.799191

[683 rows x 3 columns]